<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Lista de Produtos</h1>
<div class="container-link">
    <a href="/products/new">Adicionar Novo Produto</a>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Setor</th>
        <th>Tamanho</th>
        <th>Preço Unitário</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.idProduto}"></td>
        <td th:text="${produto.name}"></td>
        <td th:text="${produto.type}"></td>
        <td th:text="${produto.sector}"></td>
        <td th:text="${produto.size}"></td>
        <td th:text="${produto.unitPrice}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>